.caixacentral {
    margin: 250px auto;
    padding: 70px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

body, header {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body h2 {
    text-align: center;
    color: #333;
    margin-top: none;
    gap: 20px;
}

body h3 {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    gap: 25px;
    background-color: rgb(83, 76, 66);
    color: white;
}

.nav {
    display: flex;
    gap: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
img {
    height: 70px;
}

